@model IEnumerable<Student>
@{
   // var student = @ViewBag["name"] as Student;
}
<h1>Students Index</h1>
<a asp-action="Create">Add New</a>
@if (Model is not null)
{
   <table class="table table-bordered">
       <thead>
           <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Age</th>
               <th>State</th>
               <th>Actions</th>
           </tr>
       </thead>
       <tbody>
           @foreach (var item in Model)
           {
               <tr>
                   <td>@item.Id</td>
                   <td>@item.Name</td>
                   <td>@item.Age</td>
                    @if(item.IsActive != null)
                    {
                        @if (item.IsActive == false)
                       {
                            <td>Stopped</td>
                        }
                        else
                        {
                            <td>Active</td>

                        }
                    }
                    else
                    {
                        <td>---</td>

                    }
                    <td>
                       <a asp-route-id="@item.Id" asp-action="Edit" class="btn btn-primary">Edit</a>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Student",new {id=item.Id},Context.Request.Scheme)','Update Transaction')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                       <a asp-route-id="@item.Id" asp-action="Delete" class="btn btn-danger">Delete</a>
                       @if(item.IsActive != null)
                    {
                        @if (item.IsActive == false)
                       {
                            <a asp-route-id="@item.Id" asp-route-state="1" asp-action="ChangeState"  class="btn btn-success">Activate</a>
                        }
                        else
                        {
                            <a asp-route-id="@item.Id" asp-route-state="0" asp-action="ChangeState"  class="btn btn-warning">Stop</a>

                        }
                    }
                    else
                    {
                        <a asp-route-id="@item.Id" asp-route-state="1" asp-action="ChangeState"  class="btn btn-success">Activate</a>

                    }

                   </td>
               </tr>
           }
       </tbody>
   </table>
}
<!-- Button trigger modal -->


